@use "./kit/mixins";
@use "./kit/variables";

.video-section {
   padding: 72px 0;
   &__title {
      margin-bottom: 90px;
      width: max-content;
   }
   &__play {
      width: 80px;
      height: 80px;
      &-btn {
         width: 0; 
         height: 0; 
         border-top: 15px solid transparent;
         border-bottom: 15px solid transparent;
         border-left: 30px solid variables.$white-color;
      }
   }
   &__description {
      width: max-content;
   }
}